[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
max_line_length = 200
tab_width = 4
# ij_continuation_indent_size = 4
# ij_formatter_off_tag = @formatter:off
# ij_formatter_on_tag = @formatter:on
# ij_formatter_tags_enabled = true

[*.java]
ij_java_align_multiline_chained_methods = true
ij_java_align_multiline_parameters = true
ij_java_align_multiline_ternary_operation = false
ij_java_align_types_in_multi_catch = true
ij_java_blank_lines_after_class_header = 1
ij_java_blank_lines_after_imports = 1
ij_java_blank_lines_after_package = 1
ij_java_blank_lines_around_method = 1
ij_java_blank_lines_around_method_in_interface = 1
ij_java_blank_lines_before_class_end = unset
ij_java_blank_lines_before_method_body = unset
ij_java_block_brace_style = end_of_line
ij_java_case_statement_on_separate_line = false
ij_java_catch_on_new_line = false
ij_java_class_brace_style = end_of_line
ij_java_continuation_indent_size = 4
ij_java_doc_add_blank_line_after_description = true
ij_java_doc_align_exception_comments = true
ij_java_doc_align_param_comments = true
ij_java_doc_enable_formatting = true
ij_java_doc_enable_leading_asterisks = true
ij_java_doc_keep_empty_lines = true
ij_java_doc_param_description_on_new_line = false
ij_java_doc_use_throws_not_exception_tag = true
ij_java_else_on_new_line = false
ij_java_finally_on_new_line = false
ij_java_for_brace_force = always
ij_java_if_brace_force = always
ij_java_indent_case_from_switch = true
ij_java_indent_size = 4
ij_java_insert_override_annotation = true
ij_java_keep_indents_on_empty_lines = false
ij_java_keep_simple_methods_in_one_line = false
ij_java_line_comment_add_space = true
ij_java_line_comment_add_space_on_reformat =true
ij_java_method_brace_style = end_of_line
ij_java_space_after_colon = true
ij_java_space_after_comma= true
ij_java_space_after_comma_in_type_arguments = true
ij_java_space_after_for_semicolon = true
ij_java_space_after_type_cast = true
ij_java_space_before_catch_keyword = true
ij_java_space_before_catch_left_brace = true
ij_java_space_before_catch_parentheses = true
ij_java_space_before_class_left_brace = true
ij_java_space_before_colon = true
ij_java_space_before_colon_in_foreach = true
ij_java_space_before_do_left_brace = true
ij_java_space_before_else_keyword = true
ij_java_space_before_else_left_brace = true
ij_java_space_before_finally_keyword = true
ij_java_space_before_finally_left_brace = true
ij_java_space_before_for_left_brace = true
ij_java_space_before_for_parentheses = true
ij_java_space_before_if_left_brace = true
ij_java_space_before_if_parentheses = true
ij_java_space_before_switch_left_brace = true
ij_java_space_before_switch_parentheses = true
ij_java_space_before_try_left_brace = true
ij_java_space_before_try_parentheses = true
ij_java_space_before_while_keyword = true
ij_java_space_before_while_left_brace = true
ij_java_space_before_while_parentheses = true
ij_java_space_inside_one_line_enum_braces = true
ij_java_space_within_empty_method_call_parentheses = false
ij_java_space_within_empty_method_parentheses = false
ij_java_spaces_around_additive_operators = true
ij_java_spaces_around_assignment_operators = true
ij_java_spaces_around_equality_operators = true
ij_java_spaces_around_lambda_arrow = true
ij_java_spaces_around_logical_operators = true
ij_java_spaces_around_multiplicative_operators = true
ij_java_spaces_around_relational_operators = true
ij_java_spaces_within_angle_brackets = false
ij_java_spaces_within_annotation_parentheses = false
ij_java_spaces_within_brackets = false
ij_java_spaces_within_cast_parentheses = false
ij_java_spaces_within_catch_parentheses = false
ij_java_spaces_within_for_parentheses = false
ij_java_spaces_within_if_parentheses = false
ij_java_spaces_within_method_call_parentheses = false
ij_java_spaces_within_method_parentheses = false
ij_java_spaces_within_parentheses = false
ij_java_spaces_within_record_header = false
ij_java_spaces_within_switch_parentheses = false
ij_java_spaces_within_try_parentheses = false
ij_java_spaces_within_while_parentheses = false
ij_java_while_brace_force = always
# insert_final_newline = true
# ij_java_names_count_to_use_import_on_demand = 999
# ij_java_keep_simple_blocks_in_one_line = true
# ij_java_keep_simple_classes_in_one_line = true
# ij_java_keep_simple_lambdas_in_one_line = true

[*.{yml,yaml}]
indent_size = 2
tab_width = 2
insert_final_newline = true
